body {
    background-color: #696969;
}

img {
    width: 100px;
    object-fit: cover;
}

.box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/* .repo {
    visibility: hidden;
} */

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hide {
    display: flex;
    flex-direction: column;
}
